*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.background{
height:100vh;
	width: auto;
background-image:url("../Background/tech.gif");
background-repeat: no-repeat;
background-size:cover;
filter: blur(0.1px);
}
.bar{
height: 66px;
width: 99.5%;
position:fixed;
top: 0%;
left: 0.3%;
background-color: rgba(11,0,0,0.9);
border-bottom-left-radius: 50px;
border-bottom-right-radius:50px;
border-bottom:solid;
border-bottom-color: green;
border-bottom-width: 7px;
}

.home_box{
height: 26px;
width: 101px;
	position:absolute;
	top: 11.90px;
	left: 5%;
	border-radius: 10px;
	background-image: url(Home.png);
	font-family: 'Lobster';
}

.home_box1{
height: 26px;
width: 101px;
	position:absolute;
	top: 11.90px;
	left: 25%;
	border-radius: 10px;
}

.home_box2{
height: 26px;
width: 101px;
	position:absolute;
	top: 11.90px;
	left: 45%;
	border-radius: 10px;
	font-family: 'Lobster';
}

.home_box3{
height: 26px;
width: 101px;
	position:absolute;
	top: 11.90px;
	left: 65%;
	border-radius: 10px;
	font-family: 'Lobster';
	background-color:rgba(21,120,13,0.9);
}
.home_box4{
height: 26px;
width: 101px;
	position:absolute;
	top: 11.90px;
	left: 86%;
	border-radius: 10px;
	font-family: 'Lobster';
}
.heading{
margin: 5.9px;
padding: 5px;
box-sizing: border-box;
font-size: 60px;
color:white;
text-align: center;
font-style: bold;
	font-family:'Cooper Black';
	background-color:rgba(255,249,249,0.5);

}
.img{
margin: 1px;
padding: 1px;
height: 270px;
border-radius:10px;
}
